{% extends 'base.html.twig' %}

{% block title %}SGT - Inicio{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    <h1>Bienvenido al Sistema de Gestión de Torneo!!</h1>
    <h3>En esta página podrás ver los torneos que se están jugando y los que se jugarán próximamente.</h3>
    
    {% set ahora = "now"|date("U") %}
    {% set torneosActivos = [] %}
    {% set torneosDisputados = [] %}
    
    {% for torneo in torneos %}
        {% if torneo.fechaFinTorneo|date("U") > ahora %}
            {% set torneosActivos = torneosActivos|merge([torneo]) %}
        {% else %}
            {% set torneosDisputados = torneosDisputados|merge([torneo]) %}
        {% endif %}
    {% endfor %}
    
    {% if torneosActivos|length > 0 %}
        <h2 class="mt-4 mb-3">Torneos Activos</h2>
        {% for torneo in torneosActivos %}
            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                <a class="btn btn-primary" href="{{ path('app_main_torneo', {'ruta': torneo.ruta}) }}" role="button">
                    {{ torneo.nombre }}
                </a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if torneosDisputados|length > 0 %}
        <h2 class="mt-5 mb-3">Torneos Disputados</h2>
        {% for torneo in torneosDisputados %}
            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                <a class="btn btn-secondary" href="{{ path('app_main_torneo', {'ruta': torneo.ruta}) }}" role="button">
                    {{ torneo.nombre }}
                </a>
            </div>
        {% endfor %}
    {% endif %}
    {#}
    {% include "./componentes/fixture.html.twig" %}
    {{ include ("./componentes/tabla.html.twig", {'categoria': categoria}) }}
    #}
{% endblock %}
