{% extends 'base.html.twig' %}

{% block title %}SGT - Inicio{% endblock %}

{% block body %}
{% for flash_error in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
<div class="container-fluid">
  <h1>{{ torneo.nombre }}</h1>
  <select class="form-select" aria-label="Default select example" onchange="location.href=this.value;">
    <option selected>Ver Tabla</option>
    {% for categoria in categorias %}
        <option value="{{ path('app_main_categoria', {'ruta': torneo.ruta, 'categoriaId': categoria.id}) }}">
            {{ categoria.nombre }}
        </option>
    {% endfor %}
</select>
  {% for key, canchas in partidosProgramados %}
          <h3>{{ key }}</h3>
          {% for key, fechas in canchas %}
            <h4>{{ key }}</h4>
            {% for key, partidos in fechas %}
              <h5>{{ key }}</h5>
              <div class="table-responsive-sm">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Local</th>
                    <th scope="col">vs</th>
                    <th scope="col">Visitante</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for key, partido in partidos %}
                  <tr>
                    <th scope="row">{{key+1}}</th>
                    <td>{{ partido.hora|date('H:i') }}</td>
                    <td>{{ partido.categoria }}</td>
                    <td>{{ partido.grupo }}</td>
                    <td>
                      <div>{{ partido.equipoLocal }}</div>
                      <div>{{ partido.localSet1 ?? partido.localSet1 }} {{ partido.localSet2 ?? partido.localSet2 }} {{ partido.localSet3 ?? partido.localSet3 }}</div>
                      </td>
                    <td>-</td>
                    <td>
                      <div>{{ partido.equipoVisitante }}</div>
                      <div>{{ partido.visitanteSet1 ?? partido.visitanteSet1 }} {{ partido.visitanteSet2 ?? partido.visitanteSet2 }} {{ partido.visitanteSet3 ?? partido.visitanteSet3 }}</div>
                      </td>

                  </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            {% endfor %}
          {% endfor %}
        {% endfor %}
  </div>
{% endblock %}