
<div class="card mt-1">
    <div class="card-header">
        <h4>Nombre Grupo: {{ grupo.nombre }}</h4>
    </div>
    <div class="card-body p-0 table-responsive">
        <table class="table align-middle text-center" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th class="p-0" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                    <th class="p-0" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col"></th>
                    <th class="p-0 table-active" colspan="3" scope="col">Partidos</th>
                    <th class="p-0" colspan="3" scope="col">Set</th>
                    <th class="p-0 table-active" colspan="3" scope="col">Puntos</th>
                    <th class="p-0" scope="col"></th>
                </tr>
                <tr>
                    <th class="p-0 px-1" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Pos</th>
                    <th class="p-0 px-1" style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="col">Equipo</th>
                    <th class="p-0 px-1 table-active" scope="col">Jug</th>
                    <th class="p-0 px-1 table-active" scope="col">Gan</th>
                    <th class="p-0 px-1 table-active" scope="col">Per</th>
                    <th class="p-0 px-1" scope="col">Favor</th>
                    <th class="p-0 px-1" scope="col">Contra</th>
                    <th class="p-0 px-1" scope="col">Dif</th>
                    <th class="p-0 px-1 table-active" scope="col">Fav</th>
                    <th class="p-0 px-1 table-active" scope="col">Con</th>
                    <th class="p-0 px-1 table-active" scope="col">Dif</th>
                    <th class="p-0 px-1" scope="col">Ptos</th>
                </tr>   
            </thead>
            <tbody>
                {% for key, equipo in posiciones %}
                <tr>
                    <th style="position: -webkit-sticky; position: sticky; left: 0px; background: white;" scope="row">{{ key+1 }}</th>
                    <td style="position: -webkit-sticky; position: sticky; left: 0px; background: white;">{{ equipo.nombre }}</td>
                    <td class="table-active">{{ equipo.partidosJugados }}</td>
                    <td class="table-active">{{ equipo.partidosGanados }}</td>
                    <td class="table-active">{{ equipo.partidosPerdidos }}</td>
                    <td>{{ equipo.setsFavor }}</td>
                    <td>{{ equipo.setsContra }} </td>
                    <td>{{ equipo.setsDiferencia }}</td>
                    <td class="table-active">{{ equipo.puntosFavor }}</td>
                    <td class="table-active">{{ equipo.puntosContra }}</td>
                    <td class="table-active">{{ equipo.puntosDiferencia }}</td>
                    <td>{{ equipo.puntos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 
        <div class="card-footer">
            Card footer
        </div>
    -->
</div>
