{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    
    <h1>{% block title %}SGT- Editar Disputa{% endblock %}</h1>

    <form class="needs-validation" novalidate method="post" action="{{ path('admin_categoria_editar_disputa', {'ruta': torneo.ruta, 'categoriaId': categoria.id}) }}">
        <input type="textarea" name="disputa" id="disputa" hidden>
            {% set texto = categoria.disputa %}
            {{ include ('./componentes/textrich.html.twig', { texto }) }}
            
        <div class="row g-3 mt-2 mb-2">
            <div class="col">
                <a href="{{ path('admin_torneo_index') }}" class="btn btn-secondary">Volver</a>
                <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </form>

    <script>
        var form = document.querySelector('form');
        form.onsubmit = function() {
            var disputa = document.querySelector('input[name=disputa]');
            disputa.value = quill.root.innerHTML;
        }
    </script>
{% endblock %}