{% extends 'base.html.twig' %}
{% block body %}

    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    
    <h1>{% block title %}SGT- Editar Categoria{% endblock %}</h1>
    <form class="needs-validation" novalidate method="post" action="{{ path('admin_categoria_editar', {'ruta': torneo.ruta,'categoriaId' : categoria.id} ) }}">
        <div class="row g-1 mt-2 mb-2">
            <div class="col-md">
                <label for="genero" class="form-label">Genero</label>
                <select id="genero" class="form-select" name='genero' required>
                    <option disabled value="">Seleccionar</option>
                    {% for genero in generos %}
                        {% if categoria.genero.value == genero %}
                            <option value={{ genero }} selected>{{ genero }}</option>
                        {% else %}
                            <option value={{ genero }}>{{ genero }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div id="nombreFeedback" class="invalid-feedback">
                    Debe seleccionar un Genero
                </div>
            </div>
            <div class="col-md">
                <label for="nombre" class="form-label">Categoría</label>
                <input type="text" class="form-control" id="nombre" name='nombre' placeholder="Nombre de categoría" minlength="3" maxlength="32" value="{{ categoria.nombre }}" required>
                <div id="nombreFeedback" class="invalid-feedback">
                    Nombre de Categoría no puede estar vacío
                </div>
            </div>
            <div class="col-md">
                <label for="nombreCorto" class="form-label">Nombre Corto</label>
                <input type="text" class="form-control" id="nombreCorto" name='nombreCorto' placeholder="Nombre de categoría" minlength="3" maxlength="8" value="{{ categoria.nombreCorto }}" required>
                <div id="nombreFeedback" class="invalid-feedback">
                    Nombre corto de Categoría no puede estar vacío
                </div>
            </div>
        </div>
        <div class="row g-3 mt-2 mb-2">
            <div class="col">
                <a href="{{ path('admin_torneo_index') }}" class="btn btn-secondary">Volver</a>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </form>
{% endblock %}