{% extends 'base.html.twig' %}
{% block body %}
    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
<h1>{% block title %}SGT- Gestion Grupos{% endblock %}</h1>
<div>
    <form action="{{ path('admin_playoff_armar', {'ruta': torneo.ruta, 'categoriaId': categoria.id }) }}" method="post">
    <a href="{{ path('admin_torneo_index') }}" class="btn btn-secondary">Volver</a>
    {% if categoria.estado != 'Zonas_cerradas' %}
        <input class="btn btn-primary" type="submit" value="Armar Play off" />
    </form>
    {% endif %}
</div>
Grupos
<div class="accordion" id="accordionExample">
    {% for key, grupo in grupos %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{key}}" aria-expanded="false" aria-controls="collapse{{key}}">
                    Grupo {{grupo[0].nombre}}   
            </button>
        </h2>
        <div id="collapse{{key}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{ include("componentes/tabla.html.twig",{
                    'grupo': grupo[0], 'posiciones': grupo[1]
                }) }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
Partidos
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartidosClasificatorio" aria-expanded="false" aria-controls="collapsePartidosClasificatorio">
                Partidos Clasificaci贸n
            </button>
        </h2>
        <div id="collapsePartidosClasificatorio" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {# dump(partidosClasificatorios) #}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Local</th>
                            <th scope="col">Puntos</th>
                            <th scope="col">Visitante</th>
                            <th scope="col">Puntos</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partido in partidosClasificatorios %}
                        <tr>
                            <th scope="row">{{ partido.id }}</th>
                            <td>{{ partido.Local }}</td>
                            <td>{{ partido.localSet1 }} {{ partido.localSet2 }} {{partido.localSet3 }}</td>
                            <td>{{ partido.Visitante }}</td>
                            <td>{{ partido.visitanteSet1 }} {{ partido.visitanteSet2 }} {{ partido.visitanteSet3 }}</td>
                            <td> <a href="{{ path('admin_partido_resultado', { 'ruta': torneo.ruta, 'partidoNumero': partido.id }) }}" class="btn btn-info">Editar</a> </td>
                                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
Play Off - ORO
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartidosPlayOffOro" aria-expanded="false" aria-controls="collapsePartidosPlayOffOro">
                Partidos Eliminaci贸n
            </button>
        </h2>
        <div id="collapsePartidosPlayOffOro" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {# dump(partidosOro) #}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Local</th>
                            <th scope="col">Puntos</th>
                            <th scope="col">Visitante</th>
                            <th scope="col">Puntos</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partido in partidosOro %}
                        <tr>
                            <th scope="row">{{ partido.partidoID }} {{ partido.nombre }}</th>
                            <td>{{ partido.Local }}</td>
                            <td>{{ partido.localSet1 }} {{ partido.localSet2 }} {{partido.localSet3 }}</td>
                            <td>{{ partido.Visitante }}</td>
                            <td>{{ partido.visitanteSet1 }} {{ partido.visitanteSet2 }} {{ partido.visitanteSet3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
Play Off - PLATA
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartidosPlayOffPlata" aria-expanded="false" aria-controls="collapsePartidosPlayOffPlata">
                Partidos Eliminaci贸n
            </button>
        </h2>
        <div id="collapsePartidosPlayOffPlata" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {# dump(partidosPlata) #}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Local</th>
                            <th scope="col">Puntos</th>
                            <th scope="col">Visitante</th>
                            <th scope="col">Puntos</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partido in partidosPlata %}
                        <tr>
                            <th scope="row">{{ partido.partidoID }} {{ partido.nombre }}</th>
                            <td>{{ partido.Local }}</td>
                            <td>{{ partido.localSet1 }} {{ partido.localSet2 }} {{partido.localSet3 }}</td>
                            <td>{{ partido.Visitante }}</td>
                            <td>{{ partido.visitanteSet1 }} {{ partido.visitanteSet2 }} {{ partido.visitanteSet3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
Play Off - BRONCE
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartidosPlayOffBronce" aria-expanded="false" aria-controls="collapsePartidosPlayOffBronce">
                Partidos Eliminaci贸n
            </button>
        </h2>
        <div id="collapsePartidosPlayOffBronce" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {# dump(partidosPlata) #}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Local</th>
                            <th scope="col">Puntos</th>
                            <th scope="col">Visitante</th>
                            <th scope="col">Puntos</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partido in partidosBronce %}
                        <tr>
                            <th scope="row">{{ partido.partidoID }} {{ partido.nombre }}</th>
                            <td>{{ partido.Local }}</td>
                            <td>{{ partido.localSet1 }} {{ partido.localSet2 }} {{partido.localSet3 }}</td>
                            <td>{{ partido.Visitante }}</td>
                            <td>{{ partido.visitanteSet1 }} {{ partido.visitanteSet2 }} {{ partido.visitanteSet3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}  