<div class="card mt-3" >
    <div class="card-header">
        <h5 class="card-title">{{ torneo.nombre }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ torneo.descripcion }}</h6>
    </div>
    <div class="card-body">
        <div>
            <i class="fa fa-calendar" aria-hidden="true"> Inscripciones del {{ torneo.fechaInicioInscripcion|date("d/m/Y H:i") }} al {{ torneo.fechaFinInscripcion|date("d/m/Y H:i") }}</i>
        </div>
        <div>
            <i class="fa fa-calendar-check-o" aria-hidden="true"> {{ torneo.fechaInicioTorneo|date("d/m/Y H:i") }} al {{ torneo.fechaFinTorneo|date("d/m/Y H:i") }}</i>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-lg">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Femenino</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in torneo.categorias %}
                        {% if categoria.genero.value == "Femenino" %}
                            <tr>
                                <td>
                                    <div class="row justify-content-between w-100">
                                        <div class="col">
                                            {{ categoria.nombre }} - {{ categoria.nombreCorto}}
                                        </div>
                                        <div class="col-1 text-end">
                                            <div class="dropdown">
                                                <i class="bi bi-gear" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Ver Equipos</a></li>
                                                    <li><a class="dropdown-item" href="{{ path('app_torneo_categoria_editar', {'ruta': torneo.ruta,'id' : categoria.id} ) }}">Editar</a></li>
                                                    <li><a class="dropdown-item" href="{{ path('app_torneo_categoria_editar_disputa', {'ruta': torneo.ruta,'id' : categoria.id})}}">Disputa</a></li>
                                                    <li><a class="dropdown-item" id="btnEliminarCategoria{{torneo.ruta}} {{categoria.id}}">Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Masculino</th>
                    </tr>
                </thead>
                {% for categoria in torneo.categorias %}
                        {% if categoria.genero.value == "Masculino" %}
                            <tr>
                                <td>
                                    <div class="row justify-content-between w-100">
                                        <div class="col">
                                            {{ categoria.nombre }} - {{ categoria.nombreCorto}}
                                        </div>
                                        <div class="col-1 text-end">
                                            <div class="dropdown">
                                                
                                                <i class="bi bi-gear" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Ver Equipos</a></li>
                                                    <li><a class="dropdown-item" href="{{ path('app_torneo_categoria_editar', {'ruta': torneo.ruta,'id' : categoria.id} ) }}">Editar</a></li>
                                                    <li><a class="dropdown-item" href="{{ path('app_torneo_categoria_editar_disputa', {'ruta': torneo.ruta,'id' : categoria.id})}}">Disputa</a></li>
                                                    <li><a class="dropdown-item" id="btnEliminarCategoria{{torneo.ruta}} {{categoria.id}}">Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>
        </div>
        <div class="col-lg">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Sedes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sede in torneo.sedes %}
                        <tr>
                            <td>
                                <div class="row justify-content-between w-100">
                                    <div class="col">
                                        {{ sede.nombre }} - {{ sede.canchas|length }} Canchas
                                    </div>
                                    <div class="col-1 text-end">
                                        <div class="dropdown">
                                            <i class="bi bi-gear" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Ver Canchas</a></li>
                                                <li><a class="dropdown-item" href="{{ path('app_torneo_sede_editar', {'ruta': torneo.ruta,'id' : sede.id})}}">Editar</a></li>
                                                <li><a class="dropdown-item" id="btnEliminarSede{{torneo.ruta}} {{sede.id}}">Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-end">
            <div class="col text-end">
                <a href="{{ path('app_torneo_editar', {'ruta': torneo.ruta }) }}" class="btn btn-info">Editar</a>
                <a href="{{ path('app_torneo_reglamento_editar', {'ruta': torneo.ruta }) }}" class="btn btn-info">Reglamento</a>
                <a href="{{ path('app_torneo_categoria_nuevo', {'ruta': torneo.ruta }) }}" class="btn btn-info">Agregar Categoria</a>
                <a href="{{ path('app_torneo_sede_nuevo', {'ruta': torneo.ruta }) }}" class="btn btn-info">Agregar Sede</a>
                <a id="btnEliminarTorneo{{torneo.ruta}}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
