{% extends 'base.html.twig' %}
{% block body %}
{% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    
    <h1>{% block title %}SGT- Gestión Cancha - {{ sede.nombre }}{% endblock %}</h1>
    <h2>{{ sede.domicilio }}</h2>
    <a href="{{ path('admin_torneo_index') }}" class="btn btn-secondary">Volver</a>
    <a href="{{ path('admin_cancha_crear', {'ruta': ruta, 'sedeId': sede.id }) }}" class="btn btn-success">Crear</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col" style="width: 170px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cancha in sede.canchas %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ cancha.nombre }}</td>
                    <td>{{ cancha.descripcion }}</td>
                    <td>
                        <a href="{{ path('admin_cancha_editar',{'ruta': ruta, 'sedeId': sede.id, 'canchaId': cancha.id }) }}" class="btn btn-info">Editar</a>
                        <a class="btn btn-danger" id="btnEliminarCancha{{ cancha.id }}">Eliminar</a>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% include "./componentes/modal.html.twig" %}

    <script>
        btnEliminarCanchas = document.querySelectorAll('[id^="btnEliminarCancha"]');
        btnEliminarCanchas.forEach((btn) => {
            let index = btn.id.replace('btnEliminarCancha', '');
            btn.addEventListener('click', () => {
                crearModal('Eliminar Cancha', '¿Está seguro que desea eliminar la cancha?');
                document.getElementById('btnModalAceptar').addEventListener('click', () => {
                    window.location.href = `{{ path('admin_cancha_eliminar', {'ruta': ruta, 'sedeId': sede.id, 'canchaId': 'ID' }) }}`.replace('ID', index);
                });
                
            });
        });
    </script>
{% endblock %}
