{% extends 'base.html.twig' %}
{% block body %}

    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    <h1>{% block title %}SGT- Gestion Equipos{% endblock %}</h1>
    <h3>Gestión de equipos del torneo {{ torneo.nombre }} de la categoria {{ categoria.nombre }} con {{ categoria.getEquipos|length }} Equipos </h2></h3>
    <a href="{{ path('app_torneo') }}" class="btn btn-secondary">Volver</a>
    {% if equipos and equipos[0].grupo == null %}
        <a href="{{ path('app_equipo_nuevo', {'ruta': torneo.ruta, 'categoriaId': categoria.id }) }}" class="btn btn-success">Crear</a>
        <a href="{{ path('app_grupo_crear', {'ruta': torneo.ruta, 'categoriaId': categoria.id })}}" class="btn btn-info">Armar grupos</a>
    {% else %}
        {% if equipos and equipos[0].partidosLocal|length == 0 and equipos[0].partidosVisitante|length == 0 %}
        <a href="{{ path('app_partido_crear', {'ruta': torneo.ruta, 'categoriaId': categoria.id }) }}" class="btn btn-info">Armar Partidos</a>
        {% endif %}
    {% endif %}
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Corto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Grupo</th>
                <th scope="col">Ubicación</th>
                <th scope="col" style="width: 216px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos %}
                <tr>
                    <th class="p-1" scope="row">{{ loop.index }}</th>
                    <td class="p-1">{{ equipo.nombreCorto }}</td>
                    <td class="p-1">{{ equipo.nombre }}</td>
                    <td class="p-1">{{ equipo.grupo.nombre ?? '' }}</td>
                    <td class="p-1">{{ equipo.pais }} - {{ equipo.provincia }} - {{ equipo.localidad }}</td>
                    <td class="p-1">
                        <a href="{{ path('app_equipo_editar', {'ruta': torneo.ruta, 'categoriaId': categoria.id, 'equipoId': equipo.id }) }}" class="btn btn-info p-1">Editar</a>
                        <a href="{{ path('app_jugador', {'ruta': torneo.ruta,'categoriaId': categoria.id, 'equipoId': equipo.id }) }}" class="btn btn-info p-1">Jugadores</a>
                        <a class="btn btn-danger p-1" id="btnEliminarEquipo{{ equipo.id }}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      
    {% include "./componentes/modal.html.twig" %}
    {{ include("componentes/tabla.html.twig",{
        'categoria': categoria
    }) }}

    <script>
        btnEliminarEquipos = document.querySelectorAll('[id^="btnEliminarEquipo"]');
        btnEliminarEquipos.forEach((btn) => {
            let index = btn.id.replace('btnEliminarEquipo', '');
            btn.addEventListener('click', () => {
                crearModal('Eliminar Equipo', '¿Está seguro que desea eliminar el equipo?');
                document.getElementById('btnModalAceptar').addEventListener('click', () => {
                    window.location.href = `{{ path('app_equipo_eliminar', {'ruta': torneo.ruta, 'categoriaId': categoria.id, 'equipoId': 'ID'}) }}`.replace('ID', index);
                });
                
            });
        });
    </script>

{% endblock %}