{% extends 'base.html.twig' %}

{% block title %}SGT- Torneos{% endblock %}

{% block body %}
{% for flash_error in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
{% for flash_success in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flash_success }}</div>
{% endfor %}

<h1>SGT - Torneos</h1>
<a href="{{ path('app_main') }}" class="btn btn-secondary">Volver</a>
<a href="{{ path('app_torneo_nuevo') }}" class="btn btn-success">Crear</a>
{% if torneos|length == 0 %}
    <div class="alert alert-warning" role="alert">
        No hay torneos registrados
    </div>
{% else %}
{% for torneo in torneos %}
{{ include ('./torneo/componentes/card_torneo.html.twig', {torneo}) }}
{% endfor %}
{% endif %}

{% include "./componentes/modal.html.twig" %}

<script>
    btnEliminarTorneos = document.querySelectorAll('[id^="btnEliminarTorneo"]');
    btnEliminarTorneos.forEach((btn) => {
        let ruta = btn.id.replace('btnEliminarTorneo', '');
        btn.addEventListener('click', () => {
            crearModal('Eliminar Torneo', '¿Está seguro que desea eliminar al torneo?');
            document.getElementById('btnModalAceptar').addEventListener('click', () => {
                window.location.href = `{{ path('app_torneo_eliminar', {'ruta': 'RUTA' }) }}`.replace('RUTA', ruta);
            });
        });
    });
    btnEliminarCategorias = document.querySelectorAll('[id^="btnEliminarCategoria"]');
    btnEliminarCategorias.forEach((btn) => {
        let ruta_index = btn.id.replace('btnEliminarCategoria', '');
        let index = ruta_index.split(' ')[1];
        let ruta = ruta_index.split(' ')[0];
        btn.addEventListener('click', () => {
            crearModal('Eliminar Categoria', '¿Está seguro que desea eliminar la categoria?');
            document.getElementById('btnModalAceptar').addEventListener('click', () => {
                window.location.href = `{{ path('app_torneo_categoria_eliminar', {'ruta': 'RUTA', 'categoriaId' : 'ID' }) }}`.replace('ID', index).replace('RUTA', ruta);
            });
        });
    });

    btnEliminarSedes = document.querySelectorAll('[id^="btnEliminarSede"]');
    btnEliminarSedes.forEach((btn) => {
        let ruta_index = btn.id.replace('btnEliminarSede', '');
        let index = ruta_index.split(' ')[1];
        let ruta = ruta_index.split(' ')[0];
        btn.addEventListener('click', () => {
            crearModal('Eliminar Sede', '¿Está seguro que desea eliminar la sede?');
            document.getElementById('btnModalAceptar').addEventListener('click', () => {
                window.location.href = `{{ path('app_torneo_sede_eliminar', {'ruta': 'RUTA', 'sedeId' : 'ID' }) }}`.replace('ID', index).replace('RUTA', ruta);
            });
        });
    });
</script>

{% endblock %}
