{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    <h1>{% block title %}SGT- Gestion Partidos{% endblock %}</h1>
    <a href="{{ path('app_torneo') }}" class="btn btn-secondary">Volver</a>
    <h3>Partidos clasificatorios</h3>
    {% if partidosSinAsignar['clasificatorios']|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No hay partidos clasificatorios sin asignar
        </div>
    {% else %}
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cancha</th>
            <th scope="col">Horario</th>
            <th scope="col">Categoría</th>
            <th scope="col">Grupo</th>
            <th scope="col">Local</th>
            <th scope="col">vs</th>
            <th scope="col">Visitante</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for partido in partidosSinAsignar['clasificatorios'] %}
            <tr>
                <th scope="row">{{ partido.numero }}</th>
                <td>
                  <select class="form-select" aria-label="Default select example" id="cancha{{partido.id}}" name="cancha{{partido.id}}">
                    <option selected>Seleccionar Cancha</option>
                    {% for key,sede in canchas %}
                      <optgroup label="{{key}}">	
                      {% for cancha in sede %}
                        <option value="{{ cancha['id'] }}">{{ cancha['cancha'] }}</option>
                      {% endfor %}
                      </optgroup>
                    {% endfor %}
                  </select>
                </td>
                <td>
                    <input type="datetime-local" class="form-control" id="horario{{partido.id}}" name="horario{{partido.id}}" 

                      min="{{ partido.fechaInicioTorneo|date('Y-m-d H:i') }}"
                      max="{{ partido.fechaFinTorneo|date('Y-m-d H:i') }}"
                      disabled
                    >
                </td>
                <td>{{ partido.categoria }}</td>
                <td>{{ partido.grupo }}</td>
                <td>{{ partido.equipoLocal }}</td>
                <td>-</td>
                <td>{{ partido.equipoVisitante }}</td>
                <td>
                  <form action="{{ path('app_partido_editar', { 'ruta': torneo.ruta }) }}" method="post" style="display: inline;">
                    <input type="hidden" name="var_partidoId" name="var_partidoId" value={{ partido.id }}>
                    <input type="hidden" id="var_cancha{{ partido.id }}" name="var_cancha" value="">
                    <input type="hidden" id="var_horario{{ partido.id }}" name="var_horario" value="">
                    <button id="app_partido_editar{{partido.id}}" class="btn btn-primary disabled" type="submit">Guardar</button>
                  </form>
              </td>
            </tr>  
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <h3>Partidos eliminatorios post grupos</h3>
      {% if partidosSinAsignar['eliminatorias']|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No hay partidos eliminatorios sin asignar
        </div>
      {% else %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cancha</th>
            <th scope="col">Horario</th>
            <th scope="col">Categoría</th>
            <th scope="col">Partido</th>
            <th scope="col">Local</th>
            <th scope="col">vs</th>
            <th scope="col">Visitante</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
      {% for partido in partidosSinAsignar['eliminatorias'] %}
      <tr>
        <th scope="row">{{ partido.numero }}</th>
        <td>
          <select class="form-select" aria-label="Default select example" id="cancha{{partido.id}}" name="cancha{{partido.id}}">
            <option selected>Seleccionar Cancha</option>
            {% for key,sede in canchas %}
              <optgroup label="{{key}}">	
              {% for cancha in sede %}
                <option value="{{ cancha['id'] }}">{{ cancha['cancha'] }}</option>
              {% endfor %}
              </optgroup>
            {% endfor %}
          </select>
        </td>
        <td>
            <input type="datetime-local" class="form-control" id="horario{{partido.id}}" name="horario{{partido.id}}" 

              min="{{ partido.fechaInicioTorneo|date('Y-m-d H:i') }}"
              max="{{ partido.fechaFinTorneo|date('Y-m-d H:i') }}"
              disabled
            >
        </td>
        <td>{{ partido.categoria }}</td>
        <td>{{ partido.nombre }}</td>
        <td>{{ partido.equipoLocal }}</td>
        <td>-</td>
        <td>{{ partido.equipoVisitante }}</td>
        <td>
          <form action="{{ path('app_partido_editar', { 'ruta': torneo.ruta }) }}" method="post" style="display: inline;">
            <input type="hidden" name="var_partidoId" name="var_partidoId" value={{ partido.id }}>
            <input type="hidden" id="var_cancha{{ partido.id }}" name="var_cancha" value="">
            <input type="hidden" id="var_horario{{ partido.id }}" name="var_horario" value="">
            <button id="app_partido_editar{{partido.id}}" class="btn btn-primary disabled" type="submit">Guardar</button>
          </form>
      </td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <h3>Partidos eliminatorios finales</h3>
  {% if partidosSinAsignar['finales']|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No hay partidos eliminatorios sin asignar
        </div>
      {% else %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cancha</th>
            <th scope="col">Horario</th>
            <th scope="col">Categoría</th>
            <th scope="col">Partido</th>
            <th scope="col">Local</th>
            <th scope="col">vs</th>
            <th scope="col">Visitante</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
      {% for partido in partidosSinAsignar['finales'] %}
      <tr>
        <th scope="row">{{ partido.numero }}</th>
        <td>
          <select class="form-select" aria-label="Default select example" id="cancha{{partido.id}}" name="cancha{{partido.id}}">
            <option selected>Seleccionar Cancha</option>
            {% for key,sede in canchas %}
              <optgroup label="{{key}}">	
              {% for cancha in sede %}
                <option value="{{ cancha['id'] }}">{{ cancha['cancha'] }}</option>
              {% endfor %}
              </optgroup>
            {% endfor %}
          </select>
        </td>
        <td>
            <input type="datetime-local" class="form-control" id="horario{{partido.id}}" name="horario{{partido.id}}" 

              min="{{ partido.fechaInicioTorneo|date('Y-m-d H:i') }}"
              max="{{ partido.fechaFinTorneo|date('Y-m-d H:i') }}"
              disabled
            >
        </td>
        <td>{{ partido.categoria }}</td>
        <td>{{ partido.nombre }}</td>
        <td>{{ partido.equipoPartidoLocal }}</td>
        <td>-</td>
        <td>{{ partido.equipoPartidoVisitante }}</td>
        <td>
          <form action="{{ path('app_partido_editar', { 'ruta': torneo.ruta }) }}" method="post" style="display: inline;">
            <input type="hidden" name="var_partidoId" name="var_partidoId" value={{ partido.id }}>
            <input type="hidden" id="var_cancha{{ partido.id }}" name="var_cancha" value="">
            <input type="hidden" id="var_horario{{ partido.id }}" name="var_horario" value="">
            <button id="app_partido_editar{{partido.id}}" class="btn btn-primary disabled" type="submit">Guardar</button>
          </form>
      </td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
      {% endif %}
      <h3>Partidos programados</h3>
      {% if partidosProgramados|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No hay partidos programados
        </div>
      {% endif %}
      {% for key, canchas in partidosProgramados %}
        <h3>{{ key }}</h3>
        {% for key, cancha in canchas %}
          <h4>{{ key }}</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Categoría</th>
                <th scope="col">Grupo</th>
                <th scope="col">Local</th>
                <th scope="col">vs</th>
                <th scope="col">Visitante</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for key, partido in cancha %}
              <tr>
                <th scope="row">{{partido.numero}}</th>
                <td>{{ partido.fecha|date('d-m-Y') }}</td>
                <td>{{ partido.hora|date('H:i') }}</td>
                <td>{{ partido.categoria }}</td>
                <td>{{ partido.grupo }}</td>
                <td>{{ partido.equipoLocal }} {{ partido.localSet1 }} {{ partido.localSet2 }} {{ partido.localSet3 }} {{ partido.localSet4 }} {{ partido.localSet5 }}</td>
                <td>-</td>
                <td>{{ partido.equipoVisitante }} {{ partido.visitanteSet1 }} {{ partido.visitanteSet2 }} {{ partido.visitanteSet3 }} {{ partido.visitanteSet4 }} {{ partido.visitanteSet5 }}</td>
                <td>
                  {% if partido.localSet1 is null and partido.visitanteSet1 is null %}
                    <a href="{{ path('app_partido_cargar_resultado', { 'ruta': torneo.ruta, 'partidoId': partido.id }) }}" class="btn btn-info">Cargar Resultado</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% endfor %}
  <script>
    const selec = document.querySelectorAll('select');

    selec.forEach((element) => {
      element.addEventListener('change', (event) => {
        cancha_partidoId = event.target.id.replace('cancha', '');
        canchaId = event.target.value
        console.log("Cancha Partido ID ", cancha_partidoId);
        console.log("Cancha ID ", canchaId);
        document.getElementById('horario' + cancha_partidoId).disabled = false;
        document.getElementById('var_cancha'+cancha_partidoId).value = canchaId;
      });
    });

    const horarios = document.querySelectorAll('input[type="datetime-local"]');
    horarios.forEach((element, cancha_partidoId ) => {
      element.addEventListener('change', (event) => {
        horario_partidoId = event.target.id.replace('horario', '');
        horario = event.target.value
        console.log("Horario Partido ID ",horario_partidoId);
        console.log("Horario ", horario);
        document.getElementById('var_horario'+horario_partidoId).value = horario;
        boton = document.getElementById('app_partido_editar' + horario_partidoId)
        boton.classList.remove('disabled');
      });
    });
  </script>
{% endblock %}
